In [1]:
import pandas as pd

In [2]:
columns = ['datetime', 'user']
df = pd.read_csv("../data/feed-views.log", sep = '\t', header = None, names = columns)
df['datetime'] = pd.to_datetime(df.datetime)
print(df.head())
df.info()

                    datetime   user
0 2020-04-17 12:01:08.463179  artem
1 2020-04-17 12:01:23.743946  artem
2 2020-04-17 12:27:30.646665  artem
3 2020-04-17 12:35:44.884757  artem
4 2020-04-17 12:35:52.735016  artem
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  1076 non-null   datetime64[ns]
 1   user      1076 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 16.9+ KB

In [3]:
df['year'] = pd.DatetimeIndex(df['datetime']).year
df['month'] = pd.DatetimeIndex(df['datetime']).month
df['day'] = pd.DatetimeIndex(df['datetime']).day
df['hour'] = pd.DatetimeIndex(df['datetime']).hour
df['minute'] = pd.DatetimeIndex(df['datetime']).minute
df['second'] = pd.DatetimeIndex(df['datetime']).second
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  1076 non-null   datetime64[ns]
 1   user      1076 non-null   object
 2   year      1076 non-null   int64
 3   month     1076 non-null   int64
 4   day       1076 non-null   int64
 5   hour      1076 non-null   int64
 6   minute    1076 non-null   int64
 7   second    1076 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 67.4+ KB

In [4]:
df['daytime'] = pd.cut(x=df['hour'], bins=[0, 4, 7, 11, 17, 20, 24],
                    labels=['night', 'early morning', 'morning',
                            'afternoon', 'early evening', 'evening'], include_lowest=True, right=False)
df.tail(20)

,datetime,user,year,month,day,hour,minute,second,daytime
1056,2020-05-20 11:06:11.251261,ekaterina,2020,5,20,11,6,11,afternoon
1057,2020-05-20 15:24:14.569644,alexander,2020,5,20,15,24,14,afternoon
1058,2020-05-20 17:03:01.606846,pavel,2020,5,20,17,3,1,early evening
1059,2020-05-20 17:10:26.636095,pavel,2020,5,20,17,10,26,early evening
1060,2020-05-20 17:43:17.804904,pavel,2020,5,20,17,43,17,early evening
1061,2020-05-20 17:52:59.152339,pavel,2020,5,20,17,52,59,early evening
1062,2020-05-20 23:43:07.300734,valentina,2020,5,20,23,43,7,evening
1063,2020-05-21 00:56:24.263958,valentina,2020,5,21,0,56,24,night
1064,2020-05-21 01:46:08.730098,valentina,2020,5,21,1,46,8,night
1065,2020-05-21 01:57:58.652380,pavel,2020,5,21,1,57,58,night
1066,2020-05-21 12:33:32.521770,maxim,2020,5,21,12,33,32,afternoon
1067,2020-05-21 12:33:32.812265,maxim,2020,5,21,12,33,32,afternoon
1068,2020-05-21 16:28:28.217529,ekaterina,2020,5,21,16,28,28,afternoon
1069,2020-05-21 16:36:40.915488,ekaterina,2020,5,21,16,36,40,afternoon
1070,2020-05-21 17:49:36.429237,maxim,2020,5,21,17,49,36,early evening
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20,early evening
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6,evening
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49,evening
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22,evening
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14,morning

In [5]:
print(df.datetime.count())
df.daytime.value_counts()

1076

evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: daytime, dtype: int64

In [6]:
df.sort_values(by=["hour", "minute", "second"], axis=0, inplace=True)
df

,datetime,user,year,month,day,hour,minute,second,daytime
944,2020-05-15 00:00:13.222265,valentina,2020,5,15,0,0,13,night
945,2020-05-15 00:01:05.153738,valentina,2020,5,15,0,1,5,night
563,2020-05-12 00:01:27.764025,pavel,2020,5,12,0,1,27,night
564,2020-05-12 00:01:38.444917,pavel,2020,5,12,0,1,38,night
565,2020-05-12 00:01:55.395042,pavel,2020,5,12,0,1,55,night
...,...,...,...,...,...,...,...,...,...
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22,evening
246,2020-05-09 23:53:55.599821,anatoliy,2020,5,9,23,53,55,evening
247,2020-05-09 23:54:54.260791,pavel,2020,5,9,23,54,54,evening
942,2020-05-14 23:58:56.754866,valentina,2020,5,14,23,58,56,evening
943,2020-05-14 23:59:38.758438,alexander,2020,5,14,23,59,38,evening

In [7]:
max_night = df.hour[df.daytime == 'night'].max()
print(max_night)
min_morning = df.hour[df.daytime == 'morning'].min()
min_morning

3

8

In [8]:
df[(df['daytime'] == 'night') & (df['hour'] == 3)][:1]

,datetime,user,year,month,day,hour,minute,second,daytime
46,2020-04-19 03:23:35.471598,konstantin,2020,4,19,3,23,35,night

In [9]:
df[(df['daytime'] == 'morning') & (df['hour'] == 8)][:1]

,datetime,user,year,month,day,hour,minute,second,daytime
963,2020-05-15 08:16:03.918402,alexander,2020,5,15,8,16,3,morning

In [10]:
m1 = df['hour'].mode()
m2 = df['daytime'].mode()
(m1, m2)

(0    22
 dtype: int64,
 0    evening
 Name: daytime, dtype: category
 Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening'])

In [11]:
earliest = df[df['daytime'] == 'morning'].nsmallest(3, ['hour', 'minute', 'second'])
latest = df.nlargest(3, ['hour', 'minute', 'second'])
earliest, latest

(                      datetime       user  year  month  day  hour  minute  \
 963 2020-05-15 08:16:03.918402  alexander  2020      5   15     8      16
 964 2020-05-15 08:35:01.471463  alexander  2020      5   15     8      35
 965 2020-05-15 09:02:24.999438  alexander  2020      5   15     9       2

      second  daytime
 963       3  morning
 964       1  morning
 965      24  morning  ,
                       datetime       user  year  month  day  hour  minute  \
 943 2020-05-14 23:59:38.758438  alexander  2020      5   14    23      59
 942 2020-05-14 23:58:56.754866  valentina  2020      5   14    23      58
 247 2020-05-09 23:54:54.260791      pavel  2020      5    9    23      54

      second  daytime
 943      38  evening
 942      56  evening
 247      54  evening  )

In [12]:
df.describe()

         year        month          day         hour       minute       second
count  1076.0  1076.000000  1076.000000  1076.000000  1076.000000  1076.000000
mean   2020.0     4.870818    13.552974    16.249071    29.629182    29.500929
std       0.0     0.335557     4.906567     6.955490    17.689388    17.405506
min    2020.0     4.000000     1.000000     0.000000     0.000000     0.000000
25%    2020.0     5.000000    11.000000    13.000000    14.000000    14.000000
50%    2020.0     5.000000    13.000000    19.000000    29.000000    30.000000
75%    2020.0     5.000000    15.000000    22.000000    46.000000    45.000000
max    2020.0     5.000000    30.000000    23.000000    59.000000    59.000000

In [13]:
iqr = df.describe()['hour']['75%'] - df.describe()['hour']['25%']
iqr

9.0