In [1]:
import pandas as pd

In [2]:
df = pd.read_json('../data/auto.json')
df.set_index('CarNumber', inplace=True)
df

              Refund    Fines    Make    Model
CarNumber
Y163O8161RUS     2.0   3200.0    Ford    Focus
E432XX77RUS      1.0   6500.0  Toyota    Camry
7184TT36RUS      1.0   2100.0    Ford    Focus
X582HE161RUS     2.0   2000.0    Ford    Focus
92918M178RUS     1.0   5700.0    Ford    Focus
...              ...      ...     ...      ...
Y163O8161RUS     2.0   1600.0    Ford    Focus
M0309X197RUS     1.0  22300.0    Ford    Focus
O673E8197RUS     2.0    600.0    Ford    Focus
8610T8154RUS     1.0   2000.0    Ford    Focus
H419XE197RUS     2.0      NaN  Toyota  Corolla

[725 rows x 4 columns]

In [3]:
df[df['Fines'] > 2100]

              Refund    Fines        Make    Model
CarNumber
Y163O8161RUS     2.0   3200.0        Ford    Focus
E432XX77RUS      1.0   6500.0      Toyota    Camry
92918M178RUS     1.0   5700.0        Ford    Focus
H234YH197RUS     2.0   6000.0        Ford    Focus
707987163RUS     2.0   2200.0        Ford    Focus
...              ...      ...         ...      ...
O136HO197RUS     2.0   7800.0      Toyota  Corolla
O68897197RUS     2.0  12300.0        Ford    Focus
7065C8197RUS     2.0  11400.0  Volkswagen   Passat
O22097197RUS     1.0  24300.0        Ford    Focus
M0309X197RUS     1.0  22300.0        Ford    Focus

[395 rows x 4 columns]

In [4]:
df[(df['Fines'] > 2100) & (df['Refund'] == 2)]

              Refund     Fines        Make    Model
CarNumber
Y163O8161RUS     2.0    3200.0        Ford    Focus
H234YH197RUS     2.0    6000.0        Ford    Focus
707987163RUS     2.0    2200.0        Ford    Focus
K330T8197RUS     2.0    8200.0       Skoda  Octavia
9020YC197RUS     2.0  145000.0       Skoda  Octavia
...              ...       ...         ...      ...
7194TT36RUS      2.0    2300.0        Ford    Focus
7364C8197RUS     2.0    4500.0        Ford    Focus
O136HO197RUS     2.0    7800.0      Toyota  Corolla
O68897197RUS     2.0   12300.0        Ford    Focus
7065C8197RUS     2.0   11400.0  Volkswagen   Passat

[272 rows x 4 columns]

In [5]:
df[(df['Model'] == 'Focus') | (df['Model'] == 'Corolla')]

              Refund    Fines    Make    Model
CarNumber
Y163O8161RUS     2.0   3200.0    Ford    Focus
7184TT36RUS      1.0   2100.0    Ford    Focus
X582HE161RUS     2.0   2000.0    Ford    Focus
92918M178RUS     1.0   5700.0    Ford    Focus
H234YH197RUS     2.0   6000.0    Ford    Focus
...              ...      ...     ...      ...
Y163O8161RUS     2.0   1600.0    Ford    Focus
M0309X197RUS     1.0  22300.0    Ford    Focus
O673E8197RUS     2.0    600.0    Ford    Focus
8610T8154RUS     1.0   2000.0    Ford    Focus
H419XE197RUS     2.0      NaN  Toyota  Corolla

[593 rows x 4 columns]

In [6]:
df[df.index.isin(['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS'])]

              Refund     Fines  Make  Model
CarNumber
92928M178RUS     1.0       NaN  Ford  Focus
H115YO163RUS     1.0    2200.0  Ford  Focus
7788KT197RUS     2.0   12000.0  Ford  Focus
X758HY197RUS     NaN   24200.0  Ford  Focus
X758HY197RUS     2.0   72600.0  Ford  Focus
Y7689C197RUS     1.0   27000.0  Ford  Focus
92928M178RUS     1.0     600.0  Ford  Focus
H115YO163RUS     1.0       NaN  Ford  Focus
H115YO163RUS     2.0    1100.0  Ford  Focus
7788KT197RUS     2.0       NaN  Ford  Focus
7788KT197RUS     1.0   20000.0  Ford  Focus
X758HY197RUS     2.0  145200.0  Ford  Focus
92928M178RUS     1.0    1200.0  Ford  Focus
Y7689C197RUS     2.0    9000.0  Ford  Focus
Y7689C197RUS     2.0   45000.0  Ford  Focus
7788KT197RUS     2.0    4000.0  Ford  Focus
Y7689C197RUS     1.0   36000.0  Ford  Focus
92928M178RUS     2.0    3000.0  Ford  Focus

In [7]:
df.groupby('Make')['Fines'].mean()

Make
Audi           4200.000000
BMW            4750.000000
Ford           8243.470149
Skoda         10926.829268
Toyota         9564.516129
Volkswagen    10032.692308
Volvo          8500.000000
Name: Fines, dtype: float64

In [8]:
df.groupby(['Make', 'Model'])['Fines'].mean()

Make        Model
Ford        Focus       8149.622642
            Mondeo     16533.333333
Skoda       Octavia    10926.829268
Toyota      Camry       8185.714286
            Corolla    10700.000000
Volkswagen  Golf       16121.052632
            Jetta      10350.000000
            Passat      6140.000000
            Touareg     3475.000000
Name: Fines, dtype: float64

In [9]:
df.groupby(['Make', 'Model'])['Fines'].count()

Make        Model
Ford        Focus      530
            Mondeo       6
Skoda       Octavia     41
Toyota      Camry       14
            Corolla     17
Volkswagen  Golf        19
            Jetta        6
            Passat      20
            Touareg      4
Name: Fines, dtype: int64

In [10]:
min = df.groupby(['Make', 'Model'])['Fines'].min()
max = df.groupby(['Make', 'Model'])['Fines'].max()
min, max

(Make        Model
 Ford        Focus       100.0
             Mondeo     1100.0
 Skoda       Octavia     300.0
 Toyota      Camry       500.0
             Corolla     900.0
 Volkswagen  Golf        200.0
             Jetta       500.0
             Passat      100.0
             Touareg     500.0
 Name: Fines, dtype: float64,
 Make        Model
 Ford        Focus      180000.0
             Mondeo      46200.0
 Skoda       Octavia    145000.0
 Toyota      Camry       22400.0
             Corolla     34300.0
 Volkswagen  Golf       168000.0
             Jetta       46000.0
             Passat      29700.0
             Touareg      6300.0
 Name: Fines, dtype: float64)

In [11]:
df.groupby(['Make', 'Model'])['Fines'].std()

Make        Model
Ford        Focus      15667.469877
            Mondeo     18987.329108
Skoda       Octavia    26368.238701
Toyota      Camry       6884.079419
            Corolla     9912.492119
Volkswagen  Golf       37923.982136
            Jetta      17743.026799
            Passat      7287.942457
            Touareg     2998.193901
Name: Fines, dtype: float64

In [12]:
df.groupby(df.index)['Fines'].count().sort_values(ascending=False)

CarNumber
Y7689C197RUS    4
Y352O8197RUS    3
H004MH197RUS    3
9498KX178RUS    3
X758HY197RUS    3
               ..
T395OT197RUS    0
Y656E8750RUS    0
X4128H125RUS    0
X504X8197RUS    0
9402KK197RUS    0
Name: Fines, Length: 531, dtype: int64

In [13]:
df[df.index == df.index[0]]

              Refund   Fines  Make  Model
CarNumber
Y163O8161RUS     2.0  3200.0  Ford  Focus
Y163O8161RUS     2.0  1600.0  Ford  Focus

In [14]:
ds = df.groupby(df.index)['Fines'].sum().sort_values(ascending=False)
ds

CarNumber
X758HY197RUS    242000.0
9020YC197RUS    217500.0
M0279X197RUS    216000.0
Y352O8197RUS    207200.0
Y778EE197RUS    192000.0
                  ...
C590EY154RUS         0.0
Y687HM197RUS         0.0
9589EY178RUS         0.0
M298CH161RUS         0.0
9940KK197RUS         0.0
Name: Fines, Length: 531, dtype: float64

In [15]:
ds = df.reset_index()
ds = ds.drop_duplicates(['CarNumber', 'Model'])
ds = ds.groupby('CarNumber')['Make'].count().sort_values(ascending=False)
df[df.index == ds.index[0]]

              Refund   Fines        Make    Model
CarNumber
E316EH197RUS     1.0  1300.0  Volkswagen     None
E316EH197RUS     1.0  1300.0  Volkswagen  Touareg